interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.peakbagger.com/search.aspx?ss=Mount+Rainier&tid=M
  response:
    body:
      string: "\r\n<!DOCTYPE html>\r\n<html>\r\n\t<head>\r\n        <!-- Google tag
        (gtag.js) -->\r\n        <script async src=\"https://www.googletagmanager.com/gtag/js?id=G-LGMGT5T4SQ\"></script>\r\n
        \       <script>window.dataLayer = window.dataLayer || []; function gtag()
        { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-LGMGT5T4SQ');</script>\r\n\r\n\t\t<title>Search
        - Peakbagger.com</title>\r\n\t\t<link href=\"pb.css\" type=\"text/css\" rel=\"stylesheet\"/>\r\n
        \       <link rel=\"shortcut icon\" href=\"favicon.ico?\" type=\"image/x-icon\"/>\r\n\r\n\t\t<script
        src=\"pbjscript.js\" type=\"text/javascript\"></script>\r\n\t\t<script type=\"text/javascript\">\r\n\r\n\t\t\t//********Add
        Ascents on PostBack\r\n\t\t\tfunction gfi() {\r\n\t\t\t\tdocument.Form1.ProcessBox.value
        = \"GoForIt\"\r\n\t\t\t}\r\n\r\n\t\t\t//********Load - populate nation drop
        down\r\n\t\[...]
