interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://www.peakbagger.com/climber/PeakAscents.aspx?pid=1798&sort=ascentdate&u=ft&y=9999
  response:
    body:
      string: "\r\n<!DOCTYPE html>\r\n<html>\r\n\t<head>\r\n        <!-- Google tag
        (gtag.js) -->\r\n        <script async src=\"https://www.googletagmanager.com/gtag/js?id=G-LGMGT5T4SQ\"></script>\r\n
        \       <script>window.dataLayer = window.dataLayer || []; function gtag()
        { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'G-LGMGT5T4SQ');</script>\r\n\t\t\r\n\t\t<title>\r\nAscents
        of Mount Pilchuck - Peakbagger.com\r\n</title><link href=\"../pb.css\" type=\"text/css\"
        rel=\"stylesheet\" /></head>\r\n\t<body style=\"margin-left: 0; margin-top:
        0\">\r\n\t\t<form name=\"Form1\" method=\"post\" action=\"./PeakAscents.aspx?pid=1798&amp;sort=ascentdate&amp;u=ft&amp;y=9999\"
        id=\"Form1\">\r\n<input type=\"hidden\" name=\"__VIEWSTATE\" id=\"__VIEWSTATE\"
        value=\"/wEPDwUJMTMxMjU2MjE2ZGT8LNZrGoDi1sXrWWtPFzOwnp/Y0PZIHODk4l8bfygtow==\"
        />\r\n\r\n<input type=\"hidden\" name=\"__VIEWSTATEGENERATOR\" id=\"__VIEWSTATEGENERATOR\"
        value=\"795F72EE\" />\r\n<input type=\"hidden\" name=\"__EVENTVALIDATION\"
        id=\"__EVENTVALIDATION\" value=\"/wEdAAKL34t7L09R2O3bHN9/84zmPNxUf0VbbR18bVcD4NsKR921ZTbZRvZKYZIFfuIF1w1OWS0cyky/Ad9iEHzS/BrS\"
        />\r\n\t\t\t<script type=\"text/javascript\">\r\n  function DoQuickSearch()\r\n
        \ {\r\n     var searchstr = document.Form1.QuickSearchTB.value;\r\n     if
        (searchstr != \"\")\r\n        window.location = \"../search.aspx?ss=\" +
        searchstr + \"&tid=M\";\r\n     else\r\n        window.location = \"../search.aspx\";\r\n
        \ }\r\n  \r\n  function SearchKeyPress(e)\r\n  {\r\n    var cc \r\n    if(e
        && e.which)\r\n    { \r\n        e = e\r\n        cc = e.which\r\n    }\r\n
        \   else\r\n    {\r\n        e = event\r\n        cc = e.keyCode\r\n    }\r\n
        \   \r\n    if(cc == 13)\r\n    {\r\n        DoQuickSearch();\r\n        return
        false;     \r\n    }\r\n    else\r\n    {\r\n        return true;\r\n    }\r\n
        \ }\r\n\r\n</script>\r\n\r\n\r\n\r\n<table cellpadding=\"0\" cellspacing=\"0\"
        border=\"0\"\r\n    style=\"background-image:url(../image/header.jpg); height:60px\"
        width=\"100%\">\r\n<tr style=\"height:30px\">\r\n    <td colspan=\"7\" class=\"mainbanner\">\r\n
        \       <a href=\"../Default.aspx\" style=\"font-family: Arial, Helvetica,
        sans-serif; text-decoration:none; color:black\">&nbsp;Peakbagger.com</a>\r\n
        \   </td>\r\n    <td class=\"mainmenu\" style=\"width:29.5%\" align=\"right\">
        \       \r\n        <input type=\"text\" id=\"QuickSearchTB\" name=\"QuickSearchTB\"
        style=\"width:100px; font-size:x-small\" onkeypress=\"return SearchKeyPress(event)\"/>\r\n
        \       <input type=\"button\" title=\"Quick Search\" id=\"QSButton\" style=\"width:auto;
        font-size:x-small\" value=\"Quick Search\" onclick=\"DoQuickSearch()\" />\r\n
        \   </td>\r\n</tr>\r\n\r\n<tr style=\"height:30px\">\r\n    <td class=\"mainmenu\"
        align=\"center\" style=\"width:11.5%\"><a href=\"../ListIndx.aspx\" style=\"font-family:
        Arial, Helvetica, sans-serif; text-decoration:none; color:black\">Peak Lists</a></td>\r\n
        \   <td class=\"mainmenu\" align=\"center\" style=\"width:10.5%\"><a href=\"../ClimbIndx.aspx\"
        style=\"font-family: Arial, Helvet[...]
